# Core MAVSDK for drone control
aiogrpc
grpcio
mavsdk
protobuf

# OpenCV for computer vision and tracking
opencv-python == 4.9.0.80
opencv-contrib-python==4.9.0.80 # For extra features including tracking algorithms
ultralytics

# Flask for web API and interaction
Flask
Flask-RESTful
Flask-Cors

# Libraries for numerical processing, data handling, and mathematical operations
numpy < 2
pandas
scipy # Includes modules for optimization, linear algebra, integration, and more
scikit-learn

# For implementing PID controllers
simple-pid

# For Kalman filter implementations
filterpy

# Additional dependencies for API development and deployment
requests
gunicorn # For deploying Flask apps in production

# Development and testing tools
ipython
pytest # For testing


scikit-image
